<!DOCTYPE html>
<html>
<head>
  <title>Pusher</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

  <%= requirejs_include_tag "amd_application" %>
</body>
</html>
